.MainDash {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 4rem 0;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    margin: 1.5rem 0 4rem 0;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    margin: 1.5rem 0 1.5rem 0;
    align-items: center;
  }
}
